html{
    background-color: black;
}

.textInside{
    width: auto;
    color: red;
}

.textJustify{
    text-align: justify;
    color: red;
}

.textCenter{
    text-align: center;
    color: red;
}

h4{
    width: auto;
}

.listLinks{    
    margin: 5px;
}

/* clickLinks é criado para fazer os botões do menu, interação adjunta com FontAwesome! */

.clickLinks:hover{
    cursor: pointer;
    width: auto;
    padding: 2px;
    background:crimson;
    font: 20px black;
    border-radius: 4px;
    border: 2px solid pink;
    font-family: 'Open Sans', sans-serif;
}

.clickLinks{
    width: auto;
    padding: 2px;
    background:red;
    font: 20px black;
    border-radius: 4px;
    border: 2px solid #770000;
    font-family: 'Open Sans', sans-serif;
}


/* Tudo que é .box é organizado para criar o visual da página */

.boxHeader{
    width: auto;
    background-color: #770000;
    margin-top:-31px;
    margin-left:1px;
}

.boxHeaderText{
    width: auto;
    color: red;
    font-family: 'Open Sans', sans-serif;
    margin-top:-31px;
    margin-left:1px;
}

ul{
    list-style-position: inside;
}


.boxMain {
    width: auto;    
    border-radius: 4px;
    border-top: 30px solid #aa0000;
    border-left: 1px solid #aa0000;
    border-right: 1px solid #aa0000;
    border-bottom: 1px solid #aa0000;
    padding: 3px;
    margin: 1px;
    font-size: 20px red;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #252525;
}

.boxElements {
    border-radius: 4px;
    border-top: 30px solid #aa0000;
    border-left: 1px solid #aa0000;
    border-right: 1px solid #aa0000;
    border-bottom: 1px solid #aa0000;
    padding: 3px;
    margin: 11px;
    font-size: 20px red;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}