body {
    background-color: black;
}

.header {
    color : red;
    font-family: Arial, Helvetica, sans-serif;
    text-underline-position: below;
    text-align : center;
}

.centerlogos {
    margin-left: auto;
    margin-right: auto;

}

.grid-container {
    display: row;
    text-align: center;
    grid-row-start: 5;
}

.Reloginho{
    color: crimson;
    text-align: center;
}

.centertext {
    color : darkred;
    text-underline-position: below;
    text-align : center;

}

.centertextform {
    color : red;
    text-underline-position: below;
    margin-right: 50%;
    text-align : center;

}

.CalcRadio{
    display: table;
    margin-left: 50%;
    margin-right: 50%;
    text-align: center;
    grid-row-start: 5;
}



label{
    color: crimson;
    margin-left: 49%;
}



button{
    color: black;
    background-color: red;
    text-align: center;
    margin-left: 49%;
    margin-right: 50%;
}

a:link {
    background-color: red;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
}

a:hover {
    background-color: crimson;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
}

p {
    text-align: center;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}